registry=https://artifactory.us.caas.oneadp.com/artifactory/api/npm/adplabs-npm/
@adplabs:registry=https://artifactory.us.caas.oneadp.com/artifactory/api/npm/adplabs-npm-local/
//artifactory.us.caas.oneadp.com/artifactory/api/npm/adplabs-npm-local/:_password="QVAxZTNQRDlZQkFZTnpuODlWakxEbVlpZ3M="
//artifactory.us.caas.oneadp.com/artifactory/api/npm/adplabs-npm-local/:username=svc_labs_jenkins_eng
//artifactory.us.caas.oneadp.com/artifactory/api/npm/adplabs-npm-local/:email=youremail@email.com
//artifactory.us.caas.oneadp.com/artifactory/api/npm/adplabs-npm-local/:always-auth=true
package-lock=false
